body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}
.row{
    margin: 15px 0 15px 0;
}

footer {
	margin: 50px 0;
}
img{
    margin: 0 10px 10px 0;
}
